Source: qt-mini-browser
Section: unknown
Priority: extra
Maintainer: kernel concepts GmbH <daniel.busch@kernelconcpts.de>
Build-Depends: debhelper (>= 9.20160114~),
               libglib2.0-dev,
               libicu-dev,
               libqt5opengl5-dev (>= 5.9.0+dfsg~),
               libqt5webkit5-dev (>= 5.9.0+dfsg~),
               libqt5xmlpatterns5-dev (>= 5.9.0~),
               libsqlite3-dev,
               libxslt1-dev,
               qtbase5-dev (>= 5.9.0+dfsg~),
               qtdeclarative5-dev (>= 5.9.0~)
Standards-Version: 3.8.0
Homepage: http://www.kernelconcepts.de

Package: qt-mini-browser
Architecture: any
PreDepends: dpkg (>= 1.15.6~), ${misc:Pre-Depends}
Depends: libjs-jquery,
         qml-module-qtwebkit,
         qml-module-qtgraphicaleffects,
         qml-module-qtquick-controls,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Small Qt Browser
